/bin
/build
logs/
target/
project/target/
project/project/
/dist/*-SNAPSHOT*#
*~

# Eclipse
.project
.settings
.classpath

# IntelliJ IDE
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/artifacts
/.idea/libraries
/.idea/dictionaries
/.idea/scala_compiler.xml
/.idea/*
.idea/
*.iml
*.iws
.DS_Store
