<?xml version="1.0" encoding="UTF-8"?>
<web-app id="dummywsos" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Dummy WSOS</display-name>
	<context-param>
		<param-name>ssoclient.config</param-name>
		<param-value>/sso-config.xml</param-value>
	</context-param>
	
	<filter>
    	<filter-name>SSOClientFilter</filter-name>
        <filter-class>uk.ac.warwick.sso.client.SSOClientFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SSOClientFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping> 
    
    
	<listener>
    	<listener-class>uk.ac.warwick.sso.client.SSOConfigLoader</listener-class>
	</listener>
	
	<servlet>
    	<servlet-name>ShireServlet</servlet-name>
	    <display-name>Shire</display-name>
    	<servlet-class>uk.ac.warwick.sso.client.ShireServlet</servlet-class>
	</servlet>
	
	<servlet>
    	<servlet-name>LogoutServlet</servlet-name>
	    <display-name>Logout</display-name>
    	<servlet-class>uk.ac.warwick.sso.client.LogoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
    	<servlet-name>ShireServlet</servlet-name>
	    <url-pattern>/shire</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
    	<servlet-name>LogoutServlet</servlet-name>
	    <url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	
</web-app>